<div class="container">
    <div class="row g-4 mt-2">
        <h2 class="text-main text-center">Wishlist product</h2>
        <ng-template #emptyWishlist>
            <div class="bg-light shadow border p-5 mt-5 text-center w-50 mx-auto">
                <h2 class="text-main">Empty Wishlist</h2>
            </div>
        </ng-template>
        <ng-container *ngIf="wishListNumber.value > 0;else emptyWishlist">
            <div class="col-md-3" *ngFor="let product of Wishlist;">
                <div class="cursor-pointer text-main  d-flex px-1 align-items-baseline justify-content-between">
                    <i class="cursor-pointer text-main  fa-solid fa-xmark text-end"
                        (click)="removeItemFromWishlist(product._id)"></i>
                    <p (click)="removeItemFromWishlist(product._id)">Remove</p>
                </div>
                <div class="cursor-pointer product mt-0">
                    <div class="border p-2 shadow text-center overflow-hidden position-relative">
                        <div [routerLink]="['/productDetailes',product._id]">
                            <img [src]="product.imageCover" class="w-100" style="height: 220px;" />
                            <p class="text-mainColor">{{product.category.name}}</p>
                            <p class="mt-2">{{product.title.split(' ').splice(0,3).join(' ')}}</p>
                            <div class="d-flex justify-content-between">
                                <p>{{product.price}} SAR</p>
                                <p><span><i class="fa-solid fa-star rating-color"></i></span> {{product.ratingsAverage}}
                                </p>
                            </div>
                        </div>
                        <button class="btn bg-main text-light w-75" (click)="addtocart(product._id)">Add</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>