<div class="container w-50 mt-5">
    <div class="bg-light shadow border p-5">
        <h2 class="text-main mb-3 text-center">{{FormTitle}}</h2>
        
        <form [formGroup]="forgetPasword" (ngSubmit)="SendforgetPasword(forgetPasword)" *ngIf="ShowForgetPassword">
            <p class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</p>
            <label for="">email</label>
            <input type="text" formControlName="email" class="form form-control mb-3" placeholder="Enter Your Email" id="userEmail"/>
            <div *ngIf="forgetPasword.get('email')?.errors&&forgetPasword.get('email')?.touched" class="text-center bg-danger rounded-2 py-1">
                <p *ngIf="forgetPasword.get('email')?.getError('required')"class="text-white">Required Input</p>
                <p *ngIf="forgetPasword.get('email')?.getError('email')"  class="text-white">Write correct Email</p>
            </div>
            <button [disabled]="forgetPasword.invalid" type="submit" class="bg-main px-4 me-3 py-2 btn text-white">Forget</button>
        </form>

        <form [formGroup]="verifyResetCode" (ngSubmit)="SendVerifyCode(verifyResetCode)" *ngIf="ShowVerifyResetCode">
            <p class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</p>
            <label for="">resetCode</label>
            <input type="text" formControlName="resetCode" class="form form-control mb-3" placeholder="Enter Verify code" id="verifyCode"/>
            <div *ngIf="forgetPasword.get('resetCode')?.errors&&forgetPasword.get('resetCode')?.touched" class="text-center bg-danger rounded-2 py-1">
                <p *ngIf="forgetPasword.get('resetCode')?.getError('required')"class="text-white">Required Input</p>
            </div>
            <button [disabled]="verifyResetCode.invalid" type="submit" class="bg-main px-4 me-3 py-2 btn text-white">Send Verify Code</button>
        </form>
    </div>
</div>