<div id="footer" class="py-2 px-5 mt-5">
    <div class="container-fluid mt-5 ">
        <h2>Get The FreshCart App</h2>
        <p class="lead fs-6">We will send your a link, open it on your phone to download app.</p>
        <div class="row">

            <div class="col-md-10">
                <input type="email" class="form form-control p-2" placeholder="Email ...">
            </div>
            <div class="col-md-2">
                <button class="btn bg-main text-white p-2">Share App Link</button>
            </div>
        </div>
        <div class="row border py-3 mt-4">
            <div class="col-md-4">
                <div class="d-flex align-items-center">
                    <p class="mt-2 me-3">Payment Parteners</p>
                    <img class="w-50" src="../../../assets/payment-method.png">
                </div>
            </div>
            <div class="col-md-4 offset-4">
                <div class="d-flex align-items-center">
                    <p class="mt-2 me-3">Get deliveries Freshcart</p>
                    <img class="w-25 me-1" src="../../../assets/Android.png">
                    <img class="w-25" src="../../../assets/AppStore.png">
                </div>
            </div>
        </div>
        <div class="text-center">
            <p class="lead fs-6 mt-4">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> {{getDate}} <span
                    class="text-main cursor-pointer" routerLink="/home">FreshCart</span> All Rights Reserved</p>
        </div>
    </div>
</div>