.navbar
{
    background-color: #e3e4e6 !important;
}
.nav-container
{
    transition: all 0.5s !important;
    background-color: #e3e4e6 !important;
}
.navbar-expand-md .navbar-nav .nav-item i
{
    margin-left: 5px;
}
.cart-number
{
    left: -30%;
    top: -30%;
}
